<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Relatórios</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: var(--body-bg-color);
            background-image: var(--body-bg-gradient, none);
            color: var(--body-text-color);
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        :root {
            --background-color-light: #f8f9fa;
            --background-color-dark: #444444;
            --text-color-light: #000000;
            --text-color-dark: #f8f9fa;
            --navbar-bg-light: #f1f1f1;
            --navbar-bg-dark: #444444;
            --navbar-text-light: #000000;
            --navbar-text-dark: #f8f9fafa;
            --sidebar-bg-light: #f1f1f1;
            --sidebar-bg-dark: transparent;
            --sidebar-text-light: #040739;
            --sidebar-text-dark: #ffffff;
            --body-bg-light: #f8f9fa;
            --body-bg-dark: #444444;
            --body-bg-gradient-dark: linear-gradient(to bottom, #444444 , #444444 );
            --body-text-light: #000000;
            --body-text-dark: #f8f9fafa;
            --footer-bg-light: #f1f1f1;
            --footer-bg-dark: transparent;
            --footer-text-light: #000000;
            --footer-text-dark: #f8f9fafa;
            --sidebar-font-size: 12px;
        }

        [data-theme="light"] {
            --body-bg-color: var(--body-bg-light);
            --body-text-color: var(--body-text-light);
            --navbar-bg: var(--navbar-bg-light);
            --navbar-text: var(--navbar-text-light);
            --sidebar-bg: var(--sidebar-bg-light);
            --sidebar-text: var(--sidebar-text-light);
            --footer-bg: var(--footer-bg-light);
            --footer-text: var(--footer-text-light);
        }

        [data-theme="dark"] {
            --body-bg-color: var(--body-bg-dark);
            --body-bg-gradient: var(--body-bg-gradient-dark);
            --body-text-color: var(--body-text-dark);
            --navbar-bg: var(--navbar-bg-dark);
            --navbar-text: var(--navbar-text-dark);
            --sidebar-bg: var(--sidebar-bg-dark);
            --sidebar-text: var(--sidebar-text-dark);
            --footer-bg: var(--footer-bg-dark);
            --footer-text: var(--footer-text-dark);
        }

        .navbar {
            background-color: var(--navbar-bg);
            color: var(--navbar-text);
            padding: 10px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 13px;
            font-weight: 100;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .navbar .navbar-left {
            flex: 1;
        }

        .navbar .navbar-right {
            display: flex;
            align-items: center;
        }

        .navbar .navbar-right-item {
            margin-left: 20px;
        }

        .navbar span,
        .navbar a {
            color: var(--navbar-text);
            text-decoration: none;
        }

        .navbar a {
            margin-left: 20px;
        }

        .navbar a:focus {
            text-decoration: underline;
            outline: none;
            box-shadow: 0 0 0 3px rgba(125, 8, 10, 0.5); /* Anel de foco */
        }

        .navbar .navbar-brand {
            color: var(--navbar-text);
        }

        .navbar .report-status {
            color: var(--navbar-text);
            margin-right: 20px;
            white-space: nowrap;
        }

        /* Sidebar Styles */
        .sidebar {
            background-color: var(--sidebar-bg);
            width: 250px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            color: var(--sidebar-text);
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            font-size: var(--sidebar-font-size);
        }

        .sidebar h5 {
            font-size: calc(var(--sidebar-font-size) + 2px);
            color: var(--sidebar-text);
            margin-bottom: 20px;
            border-bottom: 2px solid var(--button-bg-selected);
            padding-bottom: 10px;
            transition: color var(--transition-speed);
        }

        /* Sidebar Links */
        .sidebar a {
            color: var(--sidebar-text);
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 0.25rem 0.5rem;
            border: none;
            border-radius: 2px;
            background: none;
        }

        .sidebar a:focus {
            box-shadow: 0 0 0 3px rgba(125, 8, 10, 0.5); /* Mantendo o anel de foco */
            outline: none;
        }

        .sidebar a.selected {
            font-weight: bold;
            border-color: var(--button-bg-hover);
            box-shadow: 0 0 0 3px rgba(125, 8, 10, 0.5); /* Anel de foco */
            outline: none;
        }

        .navbar a:focus {
            text-decoration: underline;
            outline: none;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            background-color: var(--body-bg-color);
            background-image: var(--body-bg-gradient, none);
            color: var(--body-text-color);
        }

        .content iframe {
            width: 100%;
            height: 80vh;
            border: none;
        }

        .logout-form {
            display: none;
        }

        .footer {
            background-color: var(--footer-bg);
            color: var(--footer-text);
            padding: 10px;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 14px;
            font-weight: 100;
            position: relative;
            width: 100%;
            margin-top: auto;
        }

        @media (max-width: 768px) {
            .sidebar {
                width: 100%;
                padding: 10px;
                position: relative;
                box-shadow: none;
            }

            .navbar {
                font-size: 12px;
                flex-direction: column;
                align-items: flex-start;
            }

            .navbar .report-status {
                margin: 10px 0 0 0;
            }

            .content {
                padding: 10px;
            }

            .footer {
                font-size: 10px;
            }
        }

        @media (max-width: 576px) {
            .navbar span,
            .navbar a {
                display: block;
                margin: 5px 0;
            }

            .content iframe {
                height: 60vh;
            }
        }
